*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: Arial;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.js-total{
  margin-bottom: 25px;
}
.numeric-button {
  background-color: rgb(91, 91, 91);
  color: white;
  border: none;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.clear-button {
  background-color: rgb(91, 91, 91);
  color: white;
  border: none;
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
}

.operation-button {
  background-color: orange;
  color: white;
  border: none;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 20px;

}